/*main-content*/

#blog-content {
  margin: 0 2rem;
  grid-area: main;
  display: grid;
  grid-template-columns: 3fr minmax(100px, 350px);
  grid-template-rows: auto;
  grid-gap: 2rem;
  grid-template-areas:
  "main-blog side";
}

#post-details {
  grid-area: main-blog;
}

#post-title {
  margin: 0;
  font-size: 2rem;
}

hr {
  border-color: #eff0f1;
  opacity: 0.3;
  border-width: 1.5px;
}

#bordered-para {
  border: 1.5px solid darkgray;
}

#example-code {
  display: block;
  padding: 1rem;
  background-color: #eff0f1;
}

#aside-content {
  grid-area: side;
}

#about-blog {
  display: flex;
  flex-flow: row wrap;
  background-color: #eff0f1;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

#about-para {
  margin-top: 0;
}

.avatar {
  display: inline;
  background-image: url('../images/card-image-placeholder.png');
  background-size: 300px;

  background-position: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 0.5rem 0;
}

#profile-details {
  padding: 0.5rem;
  max-width: 100%;
}

#author-name {
 display: block;
 color: #02b3e4;
 margin: 0.2rem 0;
}

#author-description {
  font-size: 0.8rem;
  margin: 0;
  color: #777;
}

#author-about-title {
  margin: 0.5rem 0;
}

#archives {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
}

#archives a {
  display: block;
}

.aside-title {
  margin-bottom: 0.4rem;
}

#elsewhere {
  padding: 0.5rem 1rem;
}

#elsewhere a {
  display: block;
}

#btn-container {
  padding: 2rem 0;
}

.post-btn {
  padding: 0.5rem 0.7rem;
  background-color: white;
  color: #02b3e4;
  border: 2px solid #02b3e4;
  border-radius: 1rem;
  transition: 0.2s;
}

.post-btn:hover {
  background-color: #02b3e4;
  color: white;
}

#newer-post-btn {
  background-color: white;
  color: darkgray;
  border: 2px solid darkgray;
}

#back-to-homepage {
  padding: 0 0.5rem;
  text-decoration: none;
  color: #02b3e4;
}

/* End of main content */

/* Media queries for medium and smaller devices */

@media only screen and (max-width: 768px) {
  #blog-content {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
    grid-template-areas:
    "side"
    "main-blog";
  }

}