.card {
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-details {
  padding: 1rem;
  padding-top: 0;
}

.card-short-title {
  color: #146cfa;
  font-weight: bold;
  font-size: 0.9rem;
  margin: 0;
  margin-top: 0.5rem;
}

.card-title {
  margin: 0.5rem 0.2rem 0 0;
}

.card-time {
  color: grey;
  font-size: 0.9rem;
  margin: 0;
}

.card-info {
  margin: 0.5rem 0;
  font-size: 0.8rem;
}

.continue-link {
  margin-top: auto;
}

.design-title {
  color: #42b883;
}

#cardOne {
  grid-area: cardOne;
}

#cardTwo {
  grid-area: cardTwo;
}

#cardThree {
  grid-area: cardThree;
}

#cardFour {
  grid-area: cardFour;
}