body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Grid container of the homepage */
#container {
    margin: auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header header"
        "main main main main"
        "footer footer footer footer";
}
/* End of grid container*/


/* Related to header content*/
#header-content {
    grid-area: header;
    margin: 0 0 0.9rem 0;
}

#nav-links {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

#blog-title {
    color: #444;
    font-size: 2rem;
    text-decoration: underline;
    /* margin-right: 3rem; */
}

#search-icon {
    padding: 1rem;
    color: black;
}
/* End of header content*/


/* Start of main content*/
#main-content {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    grid-gap: 2rem;
    grid-template-areas: 
    "cardOne cardTwo"
    "cardThree cardFour"
    "cardFive cardSix";
}

.card {
    display: flex;
    flex-flow: column nowrap;
    height: fit-content;
    /* padding: 1rem; */
    /* border: 1px solid grey; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-details {
    padding: 1rem;
    padding-top: 0;
}

.card-short-title {
    color: #146cfa;
    font-weight: bold;
    font-size: 0.9rem;
    margin: 0;
    margin-top: 0.5rem;
}

.card-title {
    margin: 0.5rem 0.2rem 0 0;
}

.card-time {
    color: grey;
    font-size: 0.9rem;
    margin: 0;
}

.card-info {
    margin: 0.5rem 0;
    font-size: 0.8rem;
}

.continue-link {
    margin-top: auto;
}

.design-title {
    color: #42b883;
}

#cardOne {
    grid-area: cardOne;
}

#cardTwo {
    grid-area: cardTwo;
}

#cardThree {
    grid-area: cardThree;
}

#cardFour {
    grid-area: cardFour;
}
/* End of main content */


/*Start of footer content*/
#footer-content {
    grid-area: footer;
    margin-top: 1.5rem;
    justify-items: center;
}

#ft-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1rem 0 2rem 0;
    background-color: #eff0f1;
}
/*End of footer content*/

/*------------ Blogpost css ------------*/

#blog-content {
    grid-area: main;
    display: grid;
    grid-auto-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    grid-template-areas: 
    "main-blog side";
}

#post-details {
    grid-area: main-blog;
}

#post-title {
    margin: 0;
    font-size: 2rem;
}

hr {
    border-color: #eff0f1;
    opacity: 0.3;
    border-width: 1.5px;
}

#bordered-para {
    border: 1.5px solid darkgray;
}

#example-code {
    display: block;
    padding: 1rem;
    background-color: #eff0f1;
}

#aside-content {
    grid-area: side;
}

#about-blog {
    background-color: #eff0f1;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

#about-para {
    margin-top: 0;
}

#archives {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
}

#archives a {
    display: block;
}

.aside-title {
    margin-bottom: 0.4rem;
}

#elsewhere {
    padding: 0.5rem 1rem;
}

#elsewhere a {
    display: block;
}

#btn-container {
    padding: 2rem 0;
}

.post-btn {
    padding: 0.5rem 0.7rem;
    background-color: white;
    color: #02b3e4;
    border: 2px solid #02b3e4;
    border-radius: 1rem;
    transition: 0.2s;
}

.post-btn:hover {
    background-color: #02b3e4;
    color: white;
}

#newer-post-btn {
    background-color: white;
    color: darkgray;
    border: 2px solid darkgray;
}



